<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="menu">
        <a href="/">Главная</a>
        <a href="/api">API</a>
        <a href="/test">Test</a>
        <a href="/auth">Войти</a>
    </nav>
    <h1>{{name}} are you here?</h1>
    <form action="">
        {{#each data}}
            <input type="text" name={{this}} placeholder={{this}}>
        {{/each}}
        <button class="btn" type="submit">Войти</button>
    </form>

    <h2>Зарегистрироваться</h2>
    <form id="addUser">
        <input type="text" name="name" placeholder="Имя">
        <br>
        <input type="email" name="email" placeholder="email">
        <br>
        <input type="password" name="pwd" placeholder="Пароль">
        <br>
        <button class="btn" type="submit">Добавить</button>
    </form>

    <script>
        const form = document.forms.addUser;

        form.onsubmit = function (e) {
            e.preventDefault();
            let body = {};
            body.name = form.elements.name.value;
            body.pwd = form.elements.pwd.value;
            body.email = form.elements.email.value;
            console.log(body);

            fetch("/api/user/add", {
                method: "post",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(body)
            })
                .then(resp => resp.text())
                .then(ans => console.log(ans));
        }
    </script>
</body>
</html>