<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="menu">
        <a href="/">Главная</a>
        <a href="/api">API</a>
        <a href="/test">Test</a>
        <a href="/auth">Войти</a>
    </nav>
    <h1>Главная страница</h1>
</body>
</html>